include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label)
    label.radio= label
        input(type="radio" name=name)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin MainCarousel()
    .owl-carousel.main-carousel
        .carousel-item
            h1 Ковка со вкусом
            h2 Мы создаем уникальные и эксклюзивные изделия из металла и считаем каждый элемент ковки предметом искусства, признаком достатка и высокой эстетики
            .btn Обсудить идею
        .carousel-item
            h1 Ковка со вкусом 2
            h2 Мы создаем уникальные и эксклюзивные изделия из металла и считаем каждый элемент ковки предметом искусства, признаком достатка и высокой эстетики
            .btn Обсудить идею
        .carousel-item
            h1 Ковка со вкусом 3
            h2 Мы создаем уникальные и эксклюзивные изделия из металла и считаем каждый элемент ковки предметом искусства, признаком достатка и высокой эстетики
            .btn Обсудить идею